In [1]:
import pandas as pd
import matplotlib as plt
import os

path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
path2="E:\\Mou_Projects\\Northwind_CSV_File\\Employee.csv"
path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"

#path1='Customer.csv'
'''with open(path, 'r') as f:
        print(f.read())'''
df_Customer=pd.read_csv(path1)
df_Employee=pd.read_csv(path2)
df_Products=pd.read_csv(path3)
df_Order_Detail=pd.read_csv(path4)
df_Order=pd.read_csv(path5)

In [2]:
df_Customer.head(2)

,id,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
0,1,Company A,Bedecs,Anna,NaN,Owner,(123)555-0100,NaN,NaN,(123)555-0101,123 1st Street,Seattle,WA,99999,USA,NaN,NaN,NaN
1,2,Company B,Gratacos Solsona,Antonio,NaN,Owner,(123)555-0100,NaN,NaN,(123)555-0101,123 2nd Street,Boston,MA,99999,USA,NaN,NaN,NaN

### 1. Find highest ordered product

In [2]:
#df_Order_Detail.head(2)
df_Order_Detail=df_Order_Detail[['order_id','product_id', 'quantity','unit_price']]
df_Order_Detail.head(2)

   order_id  product_id  quantity  unit_price
0        30          34     100.0        14.0
1        30          80      30.0         3.5

In [3]:
#df_Products.head(2)
df_Products=df_Products[['id','product_name']]
df_Products.head(2)

   id             product_name
0   1   Northwind Traders Chai
1   3  Northwind Traders Syrup

In [4]:
new_df= pd.merge(df_Order_Detail, df_Products, left_on='product_id', right_on='id')

In [5]:
new_df.head(2)

   order_id  product_id  quantity  unit_price  id            product_name
0        30          34     100.0        14.0  34  Northwind Traders Beer
1        47          34     300.0        14.0  34  Northwind Traders Beer

In [6]:
new_df.columns

Index(['order_id', 'product_id', 'quantity', 'unit_price', 'id',
       'product_name'],
      dtype='object')

In [7]:
new_df.drop('id', axis=1, inplace=True)
#new_df

In [8]:
new_df.head(2)

   order_id  product_id  quantity  unit_price            product_name
0        30          34     100.0        14.0  Northwind Traders Beer
1        47          34     300.0        14.0  Northwind Traders Beer

In [9]:
new_df.groupby('product_name')['quantity'].sum().sort_values(ascending=False).head(1)

product_name
Northwind Traders Coffee    650.0
Name: quantity, dtype: float64

In [10]:
def Get_Highest_Ordered_Product() -> pd.DataFrame:

    path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
    path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
    df_Products=pd.read_csv(path3)
    df_Order_Detail=pd.read_csv(path4)
    df_Order_Detail=df_Order_Detail[['order_id','product_id', 'quantity','unit_price']]
    df_Products=df_Products[['id','product_name']]
    new_df= pd.merge(df_Order_Detail, df_Products, left_on='product_id', right_on='id')
    new_df.drop('id', axis=1, inplace=True)
    return new_df.groupby('product_name')['quantity'].sum().sort_values(ascending=False).head(1)
 
print(Get_Highest_Ordered_Product())

product_name
Northwind Traders Coffee    650.0
Name: quantity, dtype: float64

### 2. Find top 5 customers who ordered most

In [11]:
path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"
df_Customer=pd.read_csv(path1)
df_Order=pd.read_csv(path5)

In [12]:
#df_Customer.head(2)
df_Customer=df_Customer[['id','first_name','last_name']]
df_Customer.head(2)

   id first_name         last_name
0   1       Anna            Bedecs
1   2    Antonio  Gratacos Solsona

In [13]:
df_Customer['customer_name']=df_Customer['first_name']+df_Customer['last_name']
df_Customer.head(2)

   id first_name         last_name            customer_name
0   1       Anna            Bedecs               AnnaBedecs
1   2    Antonio  Gratacos Solsona  AntonioGratacos Solsona

In [14]:
df_Order.head(2)
df_Order=df_Order[['id','customer_id','order_date']]
df_Order.rename(columns={'id':'order_id'},inplace=True)
df_Order.head(2)

   order_id  customer_id           order_date
0        30           27  2006-01-15 00:00:00
1        31            4  2006-01-20 00:00:00

In [15]:
new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
new_df.drop('id',axis=1, inplace=True)
new_df.groupby('customer_name')['order_id'].count().sort_values(ascending=False).head(5)

customer_name
ElizabethAndersen        6
FranciscoPérez-Olaeta    6
ChristinaLee             5
AmritanshRaghav          4
RolandWacker             4
Name: order_id, dtype: int64

In [16]:
def Get_Top_5_Customer_Who_Ordered_Most():
    path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
    path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"
    df_Customer=pd.read_csv(path1)
    df_Order=pd.read_csv(path5)
    df_Customer=df_Customer[['id','first_name','last_name']]
    df_Customer['customer_name']=df_Customer['first_name']+ ' '+ df_Customer['last_name']
    df_Order=df_Order[['id','customer_id','order_date']]
    df_Order.rename(columns={'id':'order_id'},inplace=True)
    new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
    new_df.drop('id',axis=1, inplace=True)
    return new_df.groupby('customer_name')['order_id'].count().sort_values(ascending=False).head(5)

Get_Top_5_Customer_Who_Ordered_Most()

customer_name
Elizabeth Andersen        6
Francisco Pérez-Olaeta    6
Christina Lee             5
Amritansh Raghav          4
Roland Wacker             4
Name: order_id, dtype: int64

### 3. Show all products ordered by one customer

In [17]:
path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"

#path1='Customer.csv'
'''with open(path, 'r') as f:
        print(f.read())'''
df_Customer=pd.read_csv(path1)
df_Products=pd.read_csv(path3)
df_Order_Detail=pd.read_csv(path4)
df_Order=pd.read_csv(path5)

In [18]:
df_Customer=df_Customer[['id','first_name','last_name']]
df_Customer['customer_name']=df_Customer['first_name']+ ' '+ df_Customer['last_name']
df_Order=df_Order[['id','customer_id','order_date']]
df_Order.rename(columns={'id':'order_id'},inplace=True)
new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
new_df.drop(columns=['id','first_name','last_name'], axis = 1, inplace = True)
new_df.head(2)

   order_id  customer_id           order_date customer_name
0        30           27  2006-01-15 00:00:00     Karen Toh
1        57           27  2006-04-22 00:00:00     Karen Toh

In [19]:
df_Order_Detail=df_Order_Detail[['order_id','product_id','quantity','unit_price']]
new_df1=pd.merge(new_df,df_Order_Detail,on='order_id')
df_Products=df_Products[['id','product_name','category']]
final_df=pd.merge(new_df1,df_Products,left_on='product_id',right_on='id')
final_df.drop(['id'], axis = 1, inplace = True)

In [20]:
products_ordered_by_customer_df=final_df[final_df['customer_id']==4]

In [21]:
products_ordered_by_customer_df['product_name']

4                Northwind Traders Dried Plums
7                Northwind Traders Dried Pears
9               Northwind Traders Dried Apples
11    Northwind Traders Chocolate Biscuits Mix
15                 Northwind Traders Marmalade
16           Northwind Traders Long Grain Rice
17                   Northwind Traders Gnocchi
Name: product_name, dtype: object

In [22]:
def Get_All_Products_Ordered_By_Customer(customer:int)-> None:
    path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
    path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
    path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
    path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"
    df_Customer=pd.read_csv(path1)
    df_Products=pd.read_csv(path3)
    df_Order_Detail=pd.read_csv(path4)
    df_Order=pd.read_csv(path5)
    df_Customer=df_Customer[['id','first_name','last_name']]
    df_Customer['customer_name']=df_Customer['first_name']+ ' '+ df_Customer['last_name']
    df_Order=df_Order[['id','customer_id','order_date']]
    df_Order.rename(columns={'id':'order_id'},inplace=True)
    new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
    new_df.drop(columns=['id','first_name','last_name'], axis = 1, inplace = True)
    df_Order_Detail=df_Order_Detail[['order_id','product_id','quantity','unit_price']]
    df_Order_Detail['total_price']=df_Order_Detail['quantity'] * df_Order_Detail['unit_price']
    new_df1=pd.merge(new_df,df_Order_Detail,on='order_id')
    df_Products=df_Products[['id','product_name','category']]
    final_df=pd.merge(new_df1,df_Products,left_on='product_id',right_on='id')
    final_df.drop(['id'], axis = 1, inplace = True)
    products_ordered_by_customer_df=final_df[final_df['customer_id']==customer]
    print(products_ordered_by_customer_df[['customer_name','product_name','category','quantity','unit_price','total_price']])
        
Get_All_Products_Ordered_By_Customer(1)

   customer_name                 product_name     category  quantity  \
20   Anna Bedecs       Northwind Traders Chai    Beverages      25.0
25   Anna Bedecs     Northwind Traders Coffee    Beverages      25.0
46   Anna Bedecs  Northwind Traders Green Tea    Beverages      25.0
48   Anna Bedecs  Northwind Traders Crab Meat  Canned Meat      40.0

    unit_price  total_price
20       18.00       450.00
25       46.00      1150.00
46        2.99        74.75
48       18.40       736.00

### 4. Monthly highest selled product

In [23]:
path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"
df_Customer=pd.read_csv(path1)
df_Products=pd.read_csv(path3)
df_Order_Detail=pd.read_csv(path4)
df_Order=pd.read_csv(path5)
df_Customer=df_Customer[['id','first_name','last_name']]
df_Customer['customer_name']=df_Customer['first_name']+ ' '+ df_Customer['last_name']
df_Order=df_Order[['id','customer_id','order_date']]
df_Order.rename(columns={'id':'order_id'},inplace=True)
new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
new_df.drop(columns=['id','first_name','last_name'], axis = 1, inplace = True)
df_Order_Detail=df_Order_Detail[['order_id','product_id','quantity','unit_price']]
df_Order_Detail['total_price']=df_Order_Detail['quantity'] * df_Order_Detail['unit_price']
new_df1=pd.merge(new_df,df_Order_Detail,on='order_id')
df_Products=df_Products[['id','product_name','category']]
final_df=pd.merge(new_df1,df_Products,left_on='product_id',right_on='id')
final_df.drop(['id'], axis = 1, inplace = True)

In [28]:
final_df['order_date'] = pd.to_datetime(final_df['order_date'])
final_df['day'] = final_df['order_date'].dt.day
final_df['month'] = final_df['order_date'].dt.month_name()
final_df['year'] = final_df['order_date'].dt.year
final_df.head(2)

,order_id,customer_id,order_date,customer_name,product_id,quantity,unit_price,total_price,product_name,category,day,month,year
0,30,27,2006-01-15,Karen Toh,34,100.0,14.0,1400.0,Northwind Traders Beer,Beverages,15,January,2006
1,55,29,2006-04-05,Soo Jung Lee,34,87.0,14.0,1218.0,Northwind Traders Beer,Beverages,5,April,2006

In [29]:
monthly_sell_product=final_df[final_df['month']=='January']	
monthly_sell_product.groupby('product_name')['quantity'].sum().sort_values(ascending=False).head(1)

product_name
Northwind Traders Beer    100.0
Name: quantity, dtype: float64

In [33]:
def Show_Monthwise_Highest_Selling_Product(month_name:str)-> None:
    path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
    path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
    path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
    path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"
    df_Customer=pd.read_csv(path1)
    df_Products=pd.read_csv(path3)
    df_Order_Detail=pd.read_csv(path4)
    df_Order=pd.read_csv(path5)
    df_Customer=df_Customer[['id','first_name','last_name']]
    df_Customer['customer_name']=df_Customer['first_name']+ ' '+ df_Customer['last_name']
    df_Order=df_Order[['id','customer_id','order_date']]
    df_Order.rename(columns={'id':'order_id'},inplace=True)
    new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
    new_df.drop(columns=['id','first_name','last_name'], axis = 1, inplace = True)
    df_Order_Detail=df_Order_Detail[['order_id','product_id','quantity','unit_price']]
    df_Order_Detail['total_price']=df_Order_Detail['quantity'] * df_Order_Detail['unit_price']
    new_df1=pd.merge(new_df,df_Order_Detail,on='order_id')
    df_Products=df_Products[['id','product_name','category']]
    final_df=pd.merge(new_df1,df_Products,left_on='product_id',right_on='id')
    final_df.drop(['id'], axis = 1, inplace = True)
    final_df['order_date'] = pd.to_datetime(final_df['order_date'])
    final_df['day'] = final_df['order_date'].dt.day
    final_df['month'] = final_df['order_date'].dt.month_name()
    final_df['year'] = final_df['order_date'].dt.year
    monthly_sell_product=final_df[final_df['month'] == month_name]
    print(monthly_sell_product.groupby('product_name')['quantity'].sum().sort_values(ascending=False).head(1))

Show_Monthwise_Highest_Selling_Product('March')

product_name
Northwind Traders Coffee    625.0
Name: quantity, dtype: float64

### 5. Find monthly highest selling product catagory wise

In [39]:
path1="E:\\Mou_Projects\\Northwind_CSV_File\\Customer.csv"
path3="E:\\Mou_Projects\\Northwind_CSV_File\\Products.csv"
path4="E:\\Mou_Projects\\Northwind_CSV_File\\Order_Detail.csv"
path5="E:\\Mou_Projects\\Northwind_CSV_File\\Order.csv"
df_Customer=pd.read_csv(path1)
df_Products=pd.read_csv(path3)
df_Order_Detail=pd.read_csv(path4)
df_Order=pd.read_csv(path5)
df_Customer=df_Customer[['id','first_name','last_name']]
df_Customer['customer_name']=df_Customer['first_name']+ ' '+ df_Customer['last_name']
df_Order=df_Order[['id','customer_id','order_date']]
df_Order.rename(columns={'id':'order_id'},inplace=True)
new_df=pd.merge(df_Order,df_Customer,left_on='customer_id',right_on='id')
new_df.drop(columns=['id','first_name','last_name'], axis = 1, inplace = True)
df_Order_Detail=df_Order_Detail[['order_id','product_id','quantity','unit_price']]
df_Order_Detail['total_price']=df_Order_Detail['quantity'] * df_Order_Detail['unit_price']
new_df1=pd.merge(new_df,df_Order_Detail,on='order_id')
df_Products=df_Products[['id','product_name','category']]
final_df=pd.merge(new_df1,df_Products,left_on='product_id',right_on='id')
final_df.drop(['id'], axis = 1, inplace = True)
final_df['order_date'] = pd.to_datetime(final_df['order_date'])
final_df['day'] = final_df['order_date'].dt.day
final_df['month'] = final_df['order_date'].dt.month
final_df['year'] = final_df['order_date'].dt.year
monthly_sell_product=final_df[final_df['month'] == 6]
monthly_sell_product.groupby('category')['quantity'].sum().sort_values(ascending=False)

category
Jams, Preserves              90.0
Candy                        80.0
Dried Fruit & Nuts           60.0
Canned Fruit & Vegetables    40.0
Condiments                   30.0
Soups                        10.0
Beverages                     5.0
Name: quantity, dtype: float64